.card {
  margin-bottom: 1rem;
}

.card-header {
  border-bottom: none;
  padding: 0;

  &:first-child {
    border-radius: 0;
  }

  a {
    color: $gray-dark;
    display: block;
    width: 100%;
    padding: 0.5rem 2.25rem 0.5rem 1.25rem;

    text-align: left;

    &[aria-expanded="true"],
    &:hover {
      background-color: $gray-light;
    }

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "+";
      float: right;
      font-size: 40px;
      position: absolute;
      right: 1rem;
      top: 25px;
      line-height: 0;
    }
    &[aria-expanded="true"]:after {
      content: "\02212";
    }

    @media (min-width: 800px) {
      font-size: 1.1rem;
    }
  }
}

.card-block {
  text-align: left;

  & > *:last-child {
    margin-bottom: 0;
  }
}