form .wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 1rem;
}
form label {
  margin-bottom: 0.2rem;
}
.section form .btn {
  margin-top: 0;
}
form.wpcf7-sending-form {
  .btn {
    background: #fff;
    color: $body-color;
  }
}


.section--red,
.section--green,
.section--blue {
  .form-control {
    border: none;
  }
}

/*
* Contact form 7
*/
div.wpcf7-response-output {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}

span.wpcf7-not-valid-tip {
  font-size: 0.9rem;
  color: $brand-red;
}
.section--red span.wpcf7-not-valid-tip {
  color: lighten($brand-red, 30%);
}
.section--green span.wpcf7-not-valid-tip {
  color: #fff;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  background-color: #fff;
  border: none;
  color: $body-color;
}


div.wpcf7-mail-sent-ok {
  background-color: $brand-green;
  border: none;
  color: #fff;
}
.section--red div.wpcf7-mail-sent-ok {
  background-color: #fff;
  color: $body-color;
}