.page-header {
  position: relative;
  min-height: 75vh;
  width: 100%;
  background: $gray-dark;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 900px), (max-height: 700px) {
    min-height: 90vh;
  }

  .home & {
    min-height: 100vh;
  }

  &__heading {
    text-align: center;
    max-width: 800px;
    color: #fff;
    margin-bottom: 0;
    font-size: 2.75rem;
    text-shadow: 0 0 50px rgba(45,45,45,.5);

    @media (min-width: 1400px) {
      max-width: 900px;
      font-size: 3.25em;
    }

    @media (max-width: 1000px), (max-height: 700px){
      font-size: 2rem;
      max-width: 550px;
    }
    @media (max-width: 750px), (max-height: 550px) {
      font-size: 1.75rem;
    }
  }

  &__content {
    display: block;
    position: relative;
    z-index: $zindex-page-header-content;
    padding: 0.5rem;
  }

  h1 {
    margin: 0;
  }

  &__logo {
    max-width: 100%;
    height: auto;

    @media (max-width: 1000px), (max-height: 950px) {
      max-width: 400px;
    }

    @media (max-width: 700px), (max-height: 600px) {
      max-width: 300px;
    }
  }

  &__dim {
    background: linear-gradient(rgba($gray-dark, 0.4) 0%, rgba($gray-dark, 0.0) 15%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-page-header-dim;
    bottom: 0;
  }


  &__fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: $zindex-page-header-bg;
  }

  &__fullscreen-video {
//    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1000px) {
      display: block;
    }
  }
}

.page-header--404 {
  text-align: center;
  color: #fff;
}

.read-more {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(../images/scroll-down.svg);
  background-size: cover;
  height: 45px;
  width: 45px;
  z-index: $zindex-page-header-read-more;
  cursor: pointer;
}