.partial-image {
  img {
    width: 100%;
    height: auto;
  }
}

.illustration {
  background: #fff;

  &__city {
    background: #fbfbf7;

    svg {
      width: 100%;
      max-width: 100%;
      height: auto;

      @media (max-width: 1100px) {
        height: 300px;
      }

      @media (max-width: 650px) {
        height: 200px;
      }
    }
  }

  &__vega {
    margin: 0 auto;
    max-width: 1800px;
    padding: 30px 0;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    @media (min-width: 700px) {
      padding: 50px;
    }

    &__small {
      display: none;
    }
    @media (max-width: 700px) {
      &__small {
        display: initial;
      }
      &__big {
        display: none;
      }
    }
  }


}


.map {
  position: relative;
  height: 600px;
  width: 100%;
  @media (max-width: 900px) {
    height: 400px;
  }
}


.flexible_layout {
  background: #f3f3ef;
  position: relative;
}


.section {
  display: flex;
  flex-direction: row;
  width: 100%;

  .btn {
    margin-top: 0.5rem;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content__inner {
    display: block;
    width: 100%;
    max-width: 750px;
    padding: 4rem 1.5rem;
  }

  &--form {
    .content {
      text-align: left;
    }
  }

  // If we have an image background
  &--image_bg {
    min-height: 550px;

    .content {
      width: 50%;
      text-align: left;
    }
    .content__inner {
      max-width: 750px;
    }

    .images {
      flex: 1;
      display: flex;
      width: 50%;
      flex-direction: column;

      .image {
        flex: 1;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }

  }

  &--red {
    background-color: $brand-red;
  }
  &--green {
    background-color: $brand-green;
  }
  &--yellow {
    background-color: $brand-yellow;
  }
  &--blue {
    background-color: $brand-blue;
  }

  &--red,
  &--blue,
  &--green {
    color: #fff;

    .btn {
      border-color: #fff;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $gray-dark;
      }
    }
  }

  &--image_bg {
    // Bigger screens
    @media (min-width: 1500px) {
      min-height: 700px;
    }
  }

  &--align-right {
    flex-direction: row-reverse;
  }

  // Smaller screens
  @media (max-width: 1100px) {
    &--align-right, & {
      flex-direction: column-reverse;
    }

    .content,
    .images {
      width: 100%;
    }
    .images {
      min-height: 550px;
      flex: none;

      @media (max-width: 700px) {
        min-height: 400px;
      }
    }
    &--extra-height {
      flex-direction: column;
    }
  }


  &--extra-height {
    min-height: 1100px;

    @media (max-width: 1200px) {
      min-height: 800px;
    }

    @media (max-width: 700px) {
      min-height: 600px;
    }
  }

}


.home .content__inner {
  text-align: center;
}