.project {
  position: relative;
  overflow: hidden;


  &:not(.filtered) {
    &.visible:nth-child(2n+1) {
      background: #fff;
    }
  }

  &.odd {
    background: #fff;
  }

  .hidden {
    display: none;
  }
  &__info {
    @include clearfix;

    dt,
    dd {
      float: left;
    }
    dt {
      clear: both;
      min-width: 6rem;
    }
    dd {
      margin-bottom: 0;
    }
  }

  .content {
    position: relative;
    overflow: hidden;
  }
}

.ribbon {
  background-color: $brand-primary;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -75px;
  top: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: auto;

  // Hide as standard in case we get a bad return value
  display: none;

  &--ongoing,
  &--soon {
    display: block;
    background-color: $brand-green;
  }
  &--rented,
  &--soldout {
    display: block;
    background-color: $brand-red;
  }



  &__inner {
    color: #fff;
    display: block;
    font-size: 0.6rem;
    font-weight: bold;
    margin: 1px 0;
    padding: 5px 50px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}


.projects-filters {
  text-align: center;
  padding: 50px 30px;


  // @media (max-width: 600px) {
  //   background: #fff;
  // }

  h4 {
    margin-bottom: 1rem;
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      background: $brand-primary;
      color: #fff;
      cursor: pointer;
    }
  }
  label {
    margin: 0 15px;
    @extend .btn;

    @media (max-width: 1000px) {
      padding: 5px 15px;
      margin: 5px;
    }
  }

}
.projects__error {
  display: none;
  padding: 40px;
  text-align: center;
  font-size: 1.25rem;
  background: #fff;

  & > *:last-of-type {
    margin-bottom: 0;
  }
}

