.site-navigation {
  z-index: $zindex-site-navigation;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transition: background-color 0.5s ease;

  &__menu {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      padding: 0 20px;

      @media (max-width: 1200px) {
        padding: 0 15px;
      }

      @media (max-width: 1100px) {
        padding: 0 10px;
      }
    }

    a {
      position: relative;
      display: block;
      padding: 25px 0;
      font-weight: normal;
      color: rgba(255,255,255,.75);
      transition: color 0.25s ease;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }

    .vega-logo {
      vertical-align: middle;

      &.current-menu-item {
        background-color: transparent;
      }

      a {
        display: inline-block;
        background: url(../images/vega-logo.svg) no-repeat center center;
        overflow: hidden;
        text-indent: -999px;
        width: 100px;
        height: 37px;
        padding: 0;
        vertical-align: top;

        @media (min-width: 1001px) {
          margin-top: 9px;
        }

        &:after {
          display: none;
        }
      }
    }

    .current_page_item {
      > a {
        font-weight: bold;
        color: #fff;

        &:after {
          content: "";
          display: block;
          height: 2px;
          background: #fff;

          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;
        }
      }
    }
    .vega-logo a:after {
      display: none;
    }
  }

  .sub-menu {
    display: none;
  }

  .current-menu-item,
  .current_page_parent {
    background-color: lighten($gray-dark, 20%);
  }

  &--secondary {
    text-align: center;
    background-color: lighten($gray-dark, 20%);

    li {
      display: inline-block;
    }
    a {
      color: #fff;
      padding: 5px 0;
    }
  }

  // @at-root body.home &.scrolled {
    background: $gray-dark;
  // }

  @at-root body.home &:not(.scrolled) {
    background: transparent;
  }

  @media (min-width: 1001px) {
    .current_page_item a:after {
      content: none;
    }
  }

  @media (max-width: 1000px) {
    &--secondary {
      display: none;
    }
    &__trigger {
      display: block;
    }

    &__container {
      position: fixed;
      background: $gray-dark;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      visibility: hidden;
      transition: 0.5s ease;
    }

    .sub-menu {
      display: block;
      padding-left: 0;
    }

    .current-menu-item,
    .current_page_parent {
      background-color: transparent;
    }

    &__menu {
      width: 100%;
      max-height: 100vh;
      padding: 30px;
      overflow: auto;
      text-align: left;

      li {
        display: block;
        padding: 0;
      }
      a {
        font-size: 1.5rem;
        margin-bottom: 5px;
        padding: 0;
        display: inline-block;

        @media (max-width: 900px), (max-height: 800px) {
          font-size: 1.5rem;
        }
      }
      .current_page_item a:after {
        bottom: 0;
      }

      .sub-menu {
        margin-left: 1rem;
        a {
          font-size: 20px;
        }
      }
    }

    .state-sitenav-is-open & {
      &__container {
        opacity: 1;
        visibility: visible;
      }
    }

  }
}



.state-sitenav-is-open {
  @media (max-width: 1000px) {
    &, body {
      overflow: hidden;
    }
  }
}

/* Menu toggle button */
.site-navigation__trigger {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  padding: 20px 15px;
  background-color: #fff;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;
  margin: 0 auto;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 0px;
    background-color: $gray-dark;
    transition: 0.4s cubic-bezier(0.83, 0.23, 0.59, 0.85);

    .state-sitenav-is-open & {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }

  @media (min-width: 1001px) {
    display: none;
  }
}