@font-face {
  font-family: 'Calibre';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Calibre';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/CalibreWeb-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
}


@font-face {
  font-family: 'Calibre';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/CalibreWeb-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-Semibold.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Calibre';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/CalibreWeb-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CalibreWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CalibreWeb-SemiboldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CalibreWeb-SemiboldItalic.woff') format('woff'); /* Pretty Modern Browsers */
}