html {
  font-size: $font-size-root;

  @media (max-width: 1300px) {
    font-size: 20px;
  }
  @media (max-width: 700px) {
    font-size: 19px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

a {
  &:focus {
    text-decoration: none;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@media (max-width: 1200px) {
  h1, .h1 { font-size: $font-size-h1*0.75; }
  h2, .h2 { font-size: $font-size-h2*0.75; }
  h3, .h3 { font-size: $font-size-h3*0.75; }
  h4, .h4 { font-size: $font-size-h4*0.75; }
}
@media (max-width: 800px) {
  h1, .h1 { font-size: $font-size-h1*0.7; }
  h2, .h2 { font-size: $font-size-h2*0.65; }
  h3, .h3 { font-size: $font-size-h3*0.6; }
}


.flexbox-ie-fix {
  display: flex;
  flex-direction: row;
}