// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$gray-dark:             #1A1A1A;
$gray:                  #55595c;
$gray-light:            #DDDDDD;
$gray-lighter:          #F4F4EF;
$gray-lightest:         #f7f7f9;

$white:                 #fcfcfc;


$brand-red:             #f5555f;
$brand-green:           #2db397;
$brand-yellow:          #ffe877;
$brand-blue:            #16385b;

$brand-primary:         $brand-red;

// Typography
$font-family-sans-serif: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-root: 22px;

//$headings-margin-bottom: 1.5rem;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius:             0;
$border-radius-lg:          0;
$border-radius-sm:          0;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:             2rem;

// Cards
$card-spacer-y:             .5rem !default;
$card-border-width:         2px !default;
$card-border-color:         $gray-dark;
$card-cap-bg:               transparent;
$card-bg:                   transparent;
$card-link-hover-color:     #fff !default;
$card-img-overlay-padding:  1.25rem !default;
$card-deck-margin:          .625rem !default;