$zindex-page-header-bg:             1000;
$zindex-page-header-dim:            1001;
$zindex-page-header-content:        1002;
$zindex-page-header-read-more:      1003;

$zindex-site-navigation:            2000;