.blog {


  .post {
    text-align: left;
    margin-bottom: 2rem;

    header {
      margin-bottom: 1rem;
    }
  }
  .entry-title {
    margin-bottom: 0.25rem;
  }
  .updated {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.single-post {
  header {
    margin-bottom: 1rem;
  }
  .page-header {
    background-color: inherit;

    .page-header__heading {
      text-shadow: none;
      color: $body-color;
    }
  }
}

.site-navigation {
//  .blog &,
  .single-post & {
    position: relative;
    background: $gray-dark;
  }
}

.posts-archive {
  background-color: #f3f3ef;

  > div:nth-child(2n+1) {
    background: #fff;
  }
}


.navigation {
  padding: 15px;
  text-align: center;

  .nav-links > div {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
  }

  a {
    color: $body-color;
  }
}