.content-info {
  position: relative;
  padding: 4rem 1rem;
  color: #fff;
  background-color: $gray-dark;
  text-align: center;
  font-size: 0.85rem;

  .logo {
    margin-bottom: 2rem;
  }

  .container {
    max-width: 750px;
  }

  .social {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid #fff;

    &__facebook,
    &__instagram,
    &__mail {
      display: inline-block;
      padding: 0 10px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}